//footer styles

footer {
	margin-top: 10px;
	text-align: center;
}
.background-citation, .copyright {
	color: white;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
}

.background-citation-link {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid white;
}


