//General Styles
body {
	background-image: url("../../public/assets/catbot-background.svg");
	background-size: 100%;
	background-repeat: no-repeat;

}

button {
	background-color: #07b0cc;
	color: white;
	font-family: 'Orbitron', sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
}

.app {
	display: flex;
	max-width: 1080px;
	width: 100%;
	height: 100vh;
	position: relative;
}



.catbot-app-container {
	align-self: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 20px 10px 10px 50px;

}

//aside styles
.aside-section {
	width: 50%;
	.cat {
		width: 100%;
		z-index: -1;
	}
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
	body {
		background-color: #672c8e;
	}

	button {
		padding: 0;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

	.catbot-app-container {
		flex-direction: column;
		padding: 0px;
		background: url('../../../public/assets/catbot-background.svg');
		background-repeat: repeat;
	}
	.aside-section {
		width: 100%;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
}